<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game Of Life</title>
        <link href="/css/gameoflife/gameoflife.css" rel="stylesheet" />
    </head>
    <body>
        <div class="sidenav"></div>

        <!-- Game Of Life React Component -->
        <div id="gameoflife_react_component"></div>


        <!-- React Stuff-->
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

        <!-- Loads babel for JSX -->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <!-- Load our React component. -->
        <script src="/js/gameoflife/gameoflife.js" type="text/babel"></script>
        <!-- -->
    </body>
</html>