<%- include('templates/header.ejs') -%>

<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Sean Towne</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/websiteSelfie.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Sean
                        <span class="text-primary">Towne</span>
                    </h1>
                    <div class="subheading mb-5">
                        2007 Forest Run · Hercules, CA 94547 · (714) 349-2671 ·
                        <a href="mailto:seanmichaeltowne@gmail.com">seanmichaeltowne@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Spicy jalapeno bacon ipsum dolor amet lorem bresaola duis tempor corned beef buffalo id pig sunt short ribs aliquip pariatur. Landjaeger commodo bacon pork chop strip steak esse. In jowl cow shank, chislic bresaola do. Id chuck tongue corned beef magna. Chuck t-bone buffalo ham, ullamco shankle et reprehenderit meatball shoulder adipisicing tongue. Nulla labore proident alcatra.</p>
                    <div class="social-icons">
                    	<div class="resumeTip">
                        	<a class="social-icon" href="/assets/Sean_Towne_Resume2021.pdf" download><i class="fas fa-file-pdf"></i></a>
                        	<span class="resumeTipText">Download Resume</span>
                        </div>
                        <a class="social-icon" href="https://www.linkedin.com/in/sean-towne-3a73b611a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/townesean" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Supplemental Instruction Leader</h3>
                            <div class="subheading mb-3">Santiago Canyon College</div>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2013 - ???</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Contributor on the STOQS project - MBARI</h3>
                            <div class="subheading mb-3">Capstone - CSU Monterey Bay</div>
                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2020 - December 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">STEM CELL Instructor</h3>
                            <div class="subheading mb-3">Monterey Peninsula College</div>
                            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2018 - May 2018</span></div>
                    </div>

                    <script type="text/javascript">
                        function toggleMoreLessWork() {
                            //console.log(display);
                            $('#more-work-experience').slideToggle(200, ()=> {
                                var display = $("#more-work-experience").css("display");
                                var moreLess = display == "none" ? 'More' : 'Less';
                                var message = "Show " + moreLess + " Work Experience";
                                $('#show-more-less-work').html(message);
                            });
                        }
                    </script>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <a id="show-more-less-work" class="subheading mb-3" onClick="toggleMoreLessWork();">Show More Work Experience</a>
                    </div>

                    <div id="more-work-experience" style="display:none">
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">Contributor on the STOQS project - MBARI</h3>
                                <div class="subheading mb-3">Capstone - CSU Monterey Bay</div>
                                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">August 2020 - December 2020</span></div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">California State University Monterey Bay</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div><p>Computer Science - Software Engineering & Data Science</p></div>
                            <p>Dual Concentration - Deans List</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2015 - December 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Santiago Canyon College</h3>
                            <div class="subheading mb-3">Associate of Science</div>
                            <div>Computer Science</div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2008 - May 2015</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Monterey Peninsula College</h3>
                            <div class="subheading mb-3">Associate of Arts</div>
                            <div><p>Economics</p></div>
                            <p>Deans Highest Honors</p>
                            <p>GPA: 3.74</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2018 - December 2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Orange High School</h3>
                            <div class="subheading mb-3">High School Diploma</div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2007 - May 2011</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Projects-->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Projects</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="/projects/ticktacktoe" target="_blank"><h3 class="mb-0">Tick Tack Toe</h3></a>
                            <div class="subheading mb-3">Tools: React</div>
                            <p>A small little applet that I made to learn React that allows the user to play tick tack toe. I followed the <a href="https://reactjs.org/tutorial/tutorial.html">React Tutorial</a> from facebook to the T. </p>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="/projects/gameoflife" target="_blank"><h3 class="mb-0">Game Of Life</h3></a>
                            <div class="subheading mb-3">Tools: React</div>
                            <p>A small little applet that I made to learn React that allows the user to play tick tack toe. I followed the <a href="https://reactjs.org/tutorial/tutorial.html">React Tutorial</a> from facebook to the T. </p>
                        </div>
                    </div>
                    

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="https://github.com/townesean/mandelbrot_set_in_java" target="_blank"><h3 class="mb-0">Mandelbrot Set (Desktop)</h3></a>
                            <div class="subheading mb-3">Tools: Java, Swing</div>
                            <p>When the recursive algorithm Z = Z^2 + C is applied to numbers in the complex plane, their magnitudes either diverge or converge to a value less than 2. Points in the plane that do the latter are said to be in the Mandelbrot Set. By assigning colors to points in the plane based on how long it takes them to diverge, you can produce an amazing and beautiful fractal pattern. My implementation allows the user to explore the Mandelbrot Set and set parameters that influence the fractal pattern. Computing the Set is computationally expensive, so the app allows the user to set the number of threads they want to use to compute it. You can easily run it on your desktop if you are running Java 11 or later. *nix users can <a href="/assets/mandelbrot.zip" download>Download</a> it, unzip it, cd into it, and run it with <code>./test</code>. Both *nix or Windows users can cd into the project and compile and run it: <code>javac Main.java</code> and then <code>java Main</code>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Mobile Web Specialist - Google Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - James Buchanan High School - Hackathon 2006
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            3
                            <sup>rd</sup>
                            Place - James Buchanan High School - Hackathon 2005
                        </li>
                    </ul>
                </div>
            </section>
        </div>

<%- include('templates/footer.ejs') -%>