<%- include('templates/header.ejs') -%>

<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Sean Towne</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/websiteSelfie.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h3>Please excuse the mess</h3>
                    <h4 style="color: red;">This site is still under construction</h4>
                    <br><br><br>
                    <h1 class="mb-0">
                        Sean <span class="text-primary">Towne</span>
                    </h1>
                    <div class="subheading mb-5">
                        2007 Forest Run · Hercules, CA 94547 · (714) 349-2671 ·
                        <a href="mailto:seanmichaeltowne@gmail.com">seanmichaeltowne@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Welcome to my personal website! I recently graduated from CSU Monterey Bay with a dual concentration in Software Engineering and Data Science. I am looking for career opportunities in Tech, specifically in Web Development and/or Machine Learning. I have years of experience making applications using Java, Python, and the usual Web Dev suspects. Check out the projects section on the site to see some of my work. Keep in mind many of the projects, as well as the site itself are works in progress. Credit for the theme goes to <a href="https://startbootstrap.com/theme/resume" target="_blank">startbootstrap</a></p>
                    <div class="social-icons">
                    	<div class="resumeTip">
                        	<a class="social-icon" href="/assets/Sean_Towne_Resume.pdf" download><i class="fas fa-file-pdf"></i></a>
                        	<span class="resumeTipText">Download Resume</span>
                        </div>
                        <a class="social-icon" href="https://www.linkedin.com/in/sean-towne-3a73b611a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/townesean" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Contributor on the STOQS project - MBARI</h3>
                            <div class="subheading mb-3">Capstone - CSU Monterey Bay</div>
                            <p>As part of the Capstone course at CSUMB Students partnered with industry profesionals to participate on real world projects. My team and I helped our mentor at <a href ="https://www.mbari.org/" target="_blank" >MBARI</a> advance a pipeline for converting <a href="https://en.wikipedia.org/wiki/Bathymetry" target="_blank">bathymetric</a> data in a grid format to the more graphics friendly format of gLTF. My partner and I were dropped into the very niche world of 3D geography rendering and had to rapidly learn about topography, bathymatry, surface reconstruction and graphics rendering. We succeded in finding an easy and efficient way to convert our raw bathymetric data to an OBJ file format, which is an important step in the pipeline. I authored a detailed report of what we did on the project <a href="/assets/CapstoneReport.pdf" download>here</a>.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2020 - December 2020</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">STEM CELL Instructor</h3>
                            <div class="subheading mb-3">Monterey Peninsula College</div>
                            <p>As a STEM CELL Instructor at MPC I was responsible for teaching and tutoring students taking computer science and math classes. I had a "regular customer" base and am very proud to have helped many students succeed in their STEM courses.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2018 - May 2018</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Supplemental Instruction Leader</h3>
                            <div class="subheading mb-3">Santiago Canyon College</div>
                            <p>As a Supplemental Instruction Leader at SCC, my responsibilities were very similar to those I had at MPC. It was my job to attend <i>traditionally difficult</i> classes, and then to arrange a time and a place for the students in those classes to meet with me for supplemental instruction. At our meetings I helped students with their college algebra and calculus homework, and very often, especially before a test, we worked on exercises that I designed and supervised myself. Several students saw me regularly and depended on our sessions to pass their class. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2013 - December 2013</span></div>
                    </div>

                    <script type="text/javascript">
                        function toggleMoreLessWork() {
                            //console.log(display);
                            $('#more-work-experience').slideToggle(200, ()=> {
                                var display = $("#more-work-experience").css("display");
                                var moreLess = display == "none" ? 'More' : 'Less';
                                var message = "Show " + moreLess + " Work Experience";
                                $('#show-more-less-work').html(message);
                            });
                        }
                    </script>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <a id="show-more-less-work" class="subheading mb-3" onClick="toggleMoreLessWork();">Show More Work Experience</a>
                    </div>

                    <div id="more-work-experience" style="display:none">
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">Non-Emergency Medical Driver</h3>
                                <div class="subheading mb-3">Navarre Corporation - Vacaville</div>
                                <p>Navarre provides transportation services to disabled vets. At Navarre I was responsible for meeting up with my clients at the VA Hospital or their homes, safely securing them in the company van, and delivering them safely to their homes or appointments. The work was very similar to taxi services, with the added responsibilities of navigating medical facilities, and helping folks get from "bed to bed". I am very proud to have worked for Navarre, they are a good company and the work we did was honest and helpful. I am most proud of having driven at least a dozen people to and from appointments to receive COVID-19 vaccines.</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">June 2019 - March 2021</span></div>
                        </div>

                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">Non-Emergency Medical Driver</h3>
                                <div class="subheading mb-3">Freedom Medical Transportation - Sand City</div>
                                <p>Freedom Medical does non-emergency transportation of patients from the hospital to their homes. I was responsible for seeing patients from "bed to bed". We used special equipment, namely gurneys and stair chairs, to move patients from inside their homes or hospital beds to the beds at their destinations. I worked with a diverse clientele, other team members, and lots of hospital/nursing home staff. This job was not in my field of IT, but I am glad for my short time there because of the experiences. Escorting complete strangers to and from their medical appointments all day and seeing the challenges they struggle with is very humbling.</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">April 2018 - June 2019</span></div>
                        </div>


                         <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">Sales Team Associate</h3>
                                <div class="subheading mb-3">OASICS Outlet - Orange</div>
                                <p>OASICS hired me before the store opened, so my first week there I helped build shelves, stock product, and get the store ready for opening. At OASICS I was responsible for keeping the sales floor clean and presentable, organizing products, and assisting customers. The OASICS sales floor was a very fast pace environment where I learned how to balance several responsibilities at once. I took great care to make sure that customers left with products that would suit their needs the most, and that unhappy customers got their issues resolved. Retail is hard unforgiving work, but I am thankful for having gained some excelent customer service and communication skills</p>
                                </div>
                            <div class="flex-shrink-0"><span class="text-primary">June 2014 - June 2015</span></div>
                        </div>

                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">Customer Service Rep.</h3>
                                <div class="subheading mb-3">K1 Speed - Irvine</div>
                                <p>text goes here</p>
                                </div>
                            <div class="flex-shrink-0"><span class="text-primary">Jan 2013 - June 2014</span></div>
                        </div>


                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">California State University Monterey Bay</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div><p>Computer Science - Software Engineering & Data Science</p></div>
                            <p>Dual Concentration & Deans List</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2015 - December 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Santiago Canyon College</h3>
                            <div class="subheading mb-3">Associate of Science</div>
                            <div>Computer Science</div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2008 - May 2015</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Monterey Peninsula College</h3>
                            <div class="subheading mb-3">Associate of Arts</div>
                            <div><p>Economics</p></div>
                            <p>Deans Highest Honors</p>
                            <p>GPA: 3.74</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2018 - December 2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Orange High School</h3>
                            <div class="subheading mb-3">High School Diploma</div>
                            <p></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2007 - May 2011</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Projects-->
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Projects</h2>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="https://fake-a-gram.herokuapp.com/" target="_blank"><h3 class="mb-0">Fake-A-Gram</h3></a>
                            <div class="subheading mb-3">Tools: Node.js | SQL | EJS | Bootstrap | JavaSrcipt | JQuery</div>
                            <p>This app is a social media inspired, user generated content website that I and a team build in college for our internet programming class. Its a little rough around the edges but I'm leaving it as is to preserve the work my teammates and I did. On this project I was heavily involved in configuring the cloud hosting and the database solutions we used. My work is also represented in much of the user interface. I am particularly proud of the content search functionality, I wrote the algorithm that generated SQL queries from the users input on the page.</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="/projects/ticktacktoe" target="_blank"><h3 class="mb-0">Tick Tack Toe</h3></a>
                            <div class="subheading mb-3">Tools: React</div>
                            <p>A small little applet that I made to learn React that allows the user to play tick tack toe. I followed the <a href="https://reactjs.org/tutorial/tutorial.html">React Tutorial</a> from facebook to the T. </p>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="/projects/gameoflife" target="_blank"><h3 class="mb-0">Game Of Life</h3></a>
                            <!--<a onclick="$('#gameOfLifeApp').slideToggle(200);"><h3 class="mb-0">Game Of Life</h3></a>-->
                            <div class="subheading mb-3">Tools: JavaScript | HTML | CSS </div>
                            <p><a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Conways Game of Life</a> is a <i>game</i> where cells in a grid live or die based on simple rules. It is an example of a cellular automaton. I have implemented this game in other languages, but built it in javaScript as a way to practice with the language, and so that I can show it off online. Try scolling up or down on the field of play! You'll find that you can zoom in and out on a very large 'world'. You can also drag the view across the world. In order to support so many cells I had to take advantage of certain efficiencies. When calculating what the next generation of cells will be, the program only considers those cells that are liable to change, i.e. dead cells with exactly three neighbors, and live cells whose neighbor count is not 2 or 3. As actually rendering the state of the game is the most expensive opperation, the real performance gains come from only re-painting those cells that have changed from the last generation.  </p>
                        </div>
                    </div>

                    <div id="gameOfLifeApp" style="display:none;">
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <!-- Probably delete later -->
                            <!-- Game Of Life React Component -->
                            <link href="/css/gameoflife/gameoflife.css" rel="stylesheet" />
                            <div id="gameoflife_react_component"></div>


                            <!-- React Stuff-->
                            <!-- Load React. -->
                            <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
                            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
                            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

                            <!-- Loads babel for JSX -->
                            <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
                            <!-- Load our React component. -->
                            <script src="/js/gameoflife/gameoflife.js" type="text/babel"></script>
                            <!-- end probably delete later -->
                        </div>
                    </div>
                    </div>
                    

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <a href="https://github.com/townesean/mandelbrot_set_in_java" target="_blank"><h3 class="mb-0">Mandelbrot Set (Desktop)</h3></a>
                            <div class="subheading mb-3">Tools: Java | Swing</div>
                            <p>When the recursive algorithm Z = Z^2 + C is applied to numbers in the complex plane, their magnitudes either diverge or converge to a value less than 2. Points in the plane that do the latter are said to be in the Mandelbrot Set. By assigning colors to points in the plane based on how long it takes them to diverge, you can produce an amazing and beautiful fractal pattern. My implementation allows the user to explore the Mandelbrot Set and set parameters that influence the fractal pattern. Computing the Set is computationally expensive, so the app allows the user to set the number of threads they want to use to compute it. You can easily run it on your desktop if you are running Java 11 or later. *nix users can <a href="/assets/mandelbrot.zip" download>Download</a> it, unzip it, cd into it, and run it with <code>./test</code>. Both *nix or Windows users can cd into the project and compile and run it: <code>javac Main.java</code> and then <code>java Main</code>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>I love rock climbing, and in particular, bouldering. I take my family camping as often as possible, we love the California coast and especially Big Sur.</p>
                    <p class="mb-0">When I have free time and can't get outside, I like to write small programs that do fun or interesting things. The Conways Game of Life app above is an example of that. I have also written a couple of physics simulations that model the motion of masses and charged particles using Newtons and Coulombs laws. Those are comming to this site soon :)</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Place Holder
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Place Holder
                        </li>
                        
                    </ul>
                </div>
            </section>
        </div>

<%- include('templates/footer.ejs') -%>