
#picture{
	display: block;
	width: 20%;
	margin: auto;
	border-radius: 50%

}

#pictureDiv{
	flex-wrap: flex;
	padding-top: 50px;
	padding-bottom: 50px;
}

#myname{
	text-align: center;
	font-size: 75px;
}

#greeting{
	background-color: #90c482;
}

#content{
	width: 80%;
	margin: auto;
	box-shadow: 2px 2px 4px #000000;
}

#i_love_yulia{
	text-align: center;
	
}