
.board-row:after {
  clear: left;
  content: "";
  display: table;
}


.square {
  background: #fff;
  border: 1px solid rgba(111,111,111,0.1);
  
  float: left;
  line-height: 34px;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 10px;
}

.square:focus {
  outline: none;
}

#gol-board{
  
}

#gol-controls{

}

#gol-game{

}

